.card-container{
    width: 900px;
    height: 830px;
    background: #2d3e89;
    border-radius: 6px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
}